:root
{
    --white: #ffffff;
    --black: #000000;
    --yellow: #feca57;
    --orange: #ff9f43;
    --red: #ff3838;
    --green: #44bd32;
}

@font-face
{
    font-family: 'Peachi';
    src: url('fonts/Peachi-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: 600;
}

@font-face
{
    font-family: 'Peachi';
    src: url('fonts/Peachi-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
}

body
{
    background: var(--yellow);
    font-family: 'Martian Mono', monospace;
    margin: 0;
    padding: 0;
}

#bar
{
    background: var(--yellow);
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#icon
{
    width: 50px;
}

#links
{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.bar-link
{
    color: var(--black);
    font-weight: 400;
    text-decoration: none;
    font-size: 11pt;
}

.bar-link:hover
{
    color: var(--white);
}

.bar-link:active
{
    color: var(--orange);
}

#main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black);
    margin: 50px;
}

#hero
{
    width: 700px;
}

#title
{
    font-family: 'Peachi', serif;
    font-weight: 600;
    font-size: 38pt;
}

#sub
{
    background: var(--black);
    color: var(--yellow);
    font-weight: 400;
    font-size: 13pt;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 120px;
}

#sub2
{
    font-weight: 300;
    font-size: 12pt;
}

.block
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.panel-text
{
    color: var(--white);
    display: flex;
    flex-direction: column;
    margin: 35px;
    margin-bottom: 0px;
}

.panel-text-left
{
    align-items: start;
    text-align: left;
}

.panel-text-right
{
    align-items: end;
    text-align: right;
}

.panel-sub
{
    font-weight: 400;
    font-size: 10pt;
    margin-bottom: -10px;
}

.panel-title
{
    font-family: 'Peachi', serif;
    font-weight: 600;
    font-size: 28pt;
    margin-bottom: 5px;
}

.panel-copy
{
    font-weight: 400;
    font-size: 12pt;
    width: 210px;
}

#panel-1
{
    background: var(--red);
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    height: 250px;
    width: 475px;
}

#panel-1-image
{
    position: absolute;
    width: 275px;
    margin-left: 240px;
    margin-top: 10px;
}

#chunk-1
{
    display: flex;
    flex-direction: column;
    width: 750px;
}

.panel-text-alt
{
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.panel-copy-alt
{
    font-weight: 400;
    font-size: 12pt;
}

.chunk-list
{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 40px;
}

.chunk-detail
{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.detail-text
{
    color: var(--black);
    text-align: left;
    margin-top: 25px;
}

.detail-title
{
    text-decoration: none;
    background: var(--black);
    color: var(--yellow);
    font-family: 'Peachi', serif;
    font-weight: 400;
    font-size: 22pt;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

.detail-title:hover
{
    background: var(--white);
}

.detail-title:active
{
    background: var(--orange);
}

.detail-copy
{
    font-weight: 300;
    font-size: 12pt;
    width: 250px;
    margin-top: 5px;
}

.detail-image
{
    width: 350px;
    border-radius: 15px;
}

.detail-double-image
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.detail-image-vertical
{
    width: 170px;
    border-radius: 15px;
}

#panel-2
{
    background: var(--green);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-radius: 50px;
    height: 250px;
    width: 475px;
}

#panel-2-image
{
    position: absolute;
    width: 325px;
    margin-right: 200px;
    margin-top: 40px;
}

.line
{
    background: var(--black);
    width: 800px;
    height: 2px;
    border-radius: 2px;
}

#footer
{
    font-weight: 300;
    font-size: 12pt;
    margin-top: 50px;
    margin-bottom: 25px;
}

/* @media screen and (max-device-width: 450px)
{
    #bar
    {
        padding: 30px
    }

    #icon
    {
        width: 150px;
    }

    #links
    {
        gap: 50px;
    }

    .bar-link
    {
        font-size: 22pt;
    }

    #main
    {
        margin: 0px;
    }

    #hero
    {
        width: 100%;
    }

    #title
    {
        font-size: 76pt;
    }

    #sub
    {
        font-size: 26pt;
        border-radius: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 240px;
    }

    #sub2
    {
        font-size: 24pt;
        margin-left: 50px;
        margin-right: 50px;
    }

    .block
    {
        gap: 100px;
    }

    .panel-text
    {
        margin: 70px;
        margin-bottom: 0px;
    }

    .panel-sub
    {
        font-size: 20pt;
        margin-bottom: -20px;
    }

    .panel-title
    {
        font-size: 56pt;
        margin-bottom: 10px;
    }

    .panel-copy
    {
        font-size: 24pt;
        width: 420px;
    }

    #panel-1
    {
        border-radius: 100px;
        height: 500px;
        width: 950px;
    }

    #panel-1-image
    {
        position: absolute;
        width: 550px;
        margin-left: 480px;
        margin-top: 20px;
    }


    #chunk-1
    {
        display: flex;
        flex-direction: column;
        width: 750px;
    }

    .panel-text-alt
    {
        color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
    }

    .panel-copy-alt
    {
        font-weight: 400;
        font-size: 12pt;
    }

    .chunk-list
    {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 40px;
    }

    .chunk-detail
    {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        gap: 20px;
    }

    .detail-text
    {
        color: var(--black);
        text-align: left;
        margin-top: 25px;
    }

    .detail-title
    {
        text-decoration: none;
        background: var(--black);
        color: var(--yellow);
        font-family: 'Peachi', serif;
        font-weight: 400;
        font-size: 22pt;
        border-radius: 5px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .detail-title:hover
    {
        background: var(--white);
    }

    .detail-title:active
    {
        background: var(--orange);
    }

    .detail-copy
    {
        font-weight: 300;
        font-size: 12pt;
        width: 250px;
        margin-top: 5px;
    }

    .detail-image
    {
        width: 350px;
        border-radius: 15px;
    }

    .detail-double-image
    {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .detail-image-vertical
    {
        width: 170px;
        border-radius: 15px;
    }

    #panel-2
    {
        background: var(--green);
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        border-radius: 50px;
        height: 250px;
        width: 475px;
    }

    #panel-2-image
    {
        position: absolute;
        width: 325px;
        margin-right: 200px;
        margin-top: 40px;
    }

    .line
    {
        background: var(--black);
        width: 800px;
        height: 2px;
        border-radius: 2px;
    }

    #footer
    {
        font-weight: 300;
        font-size: 12pt;
        margin-top: 50px;
        margin-bottom: 25px;
    }
} */