body
{
    margin: 0px;
    padding: 0px;
    background-color: #272842;
}

#container
{
    display: flex;
    width: 100svw;
    height: 100svh;
    flex-direction: column;
    align-items: center;
}

#main
{
    display: flex;
    height: 100svh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#background
{
    position: fixed;
    inset: 0;
    background: url("/images/mobelmon/teaser.jpg") center / cover no-repeat;
    z-index: -1;
}

#logo
{
    color: #F8E9DF;
    margin-top: 20px;
}

#hero
{
    font-family: "Karla", sans-serif;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    color: #F8E9DF;
}

#socials
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 0px;
}

.social-icon
{
    color: #F8E9DF;
    text-decoration: none;
    width: 30px;
    height: 30px;
    transition: color 0.15s linear;
}

.social-icon:hover
{
    color: #D5C9C3;
}

#footer
{
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Karla", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: #F8E9DF;
}