body
{
    background: #f6b93b;
    font-family: 'Martian Mono', monospace;
    margin: 0;
    padding: 0;
}

#main
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hero
{
    width: 500px;
    height: 300px;
    margin: 30px;
    border-radius: 50px;
    filter: grayscale(100%);
    object-fit: cover;
    object-position: 0 75%;
}

#icon
{
    width: 120px;
    margin-top: 50px;
}

#title
{
    font-size: 18pt;
    font-weight: 800;
}

.link
{
    margin-top: 5px;
    font-size: 14pt;
    font-weight: 400;
}

@media screen and (max-device-width: 450px)
{
    #hero
    {
        width: 750px;
        height: 750px;
        margin: 80px;
        border-radius: 100px;
    }

    #icon
    {
        width: 275px;
        margin-top: 120px;
    }

    #title
    {
        font-size: 48pt;
    }

    .link
    {
        margin-top: 10px;
        font-size: 40pt;
    }
}