body
{
    background: #f6b93b;
    font-family: 'Martian Mono', monospace;
    margin: 0;
    padding: 0;
}

#main
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hero
{
    width: 28em;
    height: 18em;
    filter: grayscale(100%);
    object-fit: cover;
    object-position: 0 75%;
    border-radius: 50pt;
    margin: 24pt;
}

#icon
{
    width: 8em;
    margin-top: 40pt;
}

#title
{
    font-size: 1.5em;
    font-weight: 800;
}

.link
{
    margin-top: 5pt;
    font-size: 1.2em;
    font-weight: 400;
}